# Ignore specific files
config.json
.env
desktop.ini

# Ignore entire folders
node_modules/
temp/
lavalink/logs/
lavalink/plugins/
dist/

# Ignore all files with a specific extension
*.log
*.exe