# Ignore specific files
config.json
.env
desktop.ini
src/clean.js
events/clientReady.js

# Ignore entire folders
node_modules/
temp/
lavalink/logs/
lavalink/plugins/

# Ignore all files with a specific extension
*.log
*.exe